.leaderboard-page {
    padding: 20px;
  }
  
  .leaderboards {
    display: flex;
    justify-content: space-around;
  }
  
  .leaderboard {
    width: 30%;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    background-color: #778ed2;
    border-radius: 20px;
  }
  
  .leaderboard h2 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  table th {
    background-color: #8d9dcc;
  }