.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .pirateGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
.Amount {
    text-align: center;
    color: #68cb7d;
}